body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    height:100vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
  }
  #filterOptions{
    margin-top: 5%;
    width: 80%;
    text-align: center;
    margin-left: 7%;
    font-size: 20px;
  }
  
  input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  
  button.delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  